[mysqld]
skip-host-cache
skip-name-resolve
user = mysql
datadir = /var/lib/mysql
explicit_defaults_for_timestamp = 1
server-id                       = 1
log-bin                         = /var/lib/mysql/mysql-bin.log
binlog_do_db                    = web-devbox
innodb_flush_log_at_trx_commit  = 1
sync_binlog                     = 1
